/* loader start */
.loader, .ie8 .loader{display:none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(255,255,255,0.9); z-index: 1111;}
.ie8 .loader{background: #fff;}
.loader img{position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width:40px;}

/* loader end */
