<!DOCTYPE html>
<html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<head>
 <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Mahindra Rise</title>
<!-- Bootstrap js start -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery-ui.js"></script>
<!-- Bootstrap js end -->
<!-- Bootstrap css start -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/jquery-ui.css" rel="stylesheet">
<!-- <script src="js/datajs-1.1.2.min.js"></script> -->

<script src="js/OData.js"></script>
<!-- Bootstrap css end -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
<script type="text/javascript">
var headerId = "";
var responseData =new Array();
$(document).ready(function(){
// 	$(".datepicker").datepicker();
    setUserName();
    responseData = window.localStorage.getItem("salesItems");
    responseData = $.parseJSON(responseData);
    pendingData();
    
    $("#navigatePage").click(function(){
    	responseData = JSON.stringify(responseData);
    	window.localStorage.setItem("salesItems",responseData);
    	window.location.href="createorder.html";
    });
//     alert(salesItems.length);
// 	headerId =  GetURLParameter('HeaderId');
// 	alert(headerId);
// 	makeCorsRequest();
// 	$(".updateRecords").click(function(){
// 		alert("Hi");
// 		updateRecord(this);
// 	});
});

	function pendingData(){
		$(".pendingUpdate table tbody").html('');
		for(var i=0;i<responseData.length;i++){
				  $(".pendingUpdate table tbody").append("<tr>");
				  $(".pendingUpdate table tbody").append("<td data-title='Material'>"+responseData[i].maktx+"</td>");
				  $(".pendingUpdate table tbody").append("<td data-title='Quantity'><input type='text' id='quantity"+responseData[i].posnr+"' class='new_Value form-control' value="+responseData[i].zmeng+"></td>");
				  var fdate = responseData[i].edatu;
				  $(".pendingUpdate table tbody").append("<td data-title='Due Date'><input type='text' id='dueDate"+responseData[i].posnr+"' class='form-control datepicker dateReq' value='"+fdate+"'></td>");
				  $(".pendingUpdate table tbody").append('<td data-title="Action"><button type="button" class="btn-del" onClick="deleteRecord(this)"  data-posnr='+responseData[i].posnr+'><span class="glyphicon glyphicon-remove"></span></button></td>');
			}
			$(".datepicker").datepicker();
	}
	
	function updateRecord(datas){
		updateDeleteRecord(datas,"UPDATE");
	}
	function deleteRecord(datas){
		var posnr =  datas.dataset.posnr;
		for(var i=0;i<responseData.length;i++){
				    if(responseData[i].posnr == posnr){
				    	responseData.splice(i, 1);
				    	pendingData();
				    	break;
				  }
		}
	}
	
	function updateDeleteRecord(){
// 		saveRecords(salesItems);
       var salesItems = new Array();
		for(var i=0;i<responseData.length;i++){
			var itemNumber = responseData[i].posnr;
			var qunatity = $("#quantity"+itemNumber).val();
			var edatu = $("#dueDate"+itemNumber).val();
			var amountItem = qunatity*responseData[i].netpr;
  				   var oData= {
			           "posnr": responseData[i].posnr,
			           "matnr": responseData[i].matnr,
			           "maktx": responseData[i].maktx,
			           "werks": "",
			           "lgort": "",
			           "zmeng": qunatity,
			           "ameng": "",
			           "zieme":responseData[i].zieme,
			           "netpr":responseData[i].netpr,
			           "netwrItem": amountItem,
			           "edatu": edatu,
		          };
  				 salesItems.push(oData);
	     }
		  
		  
		  saveRecords(salesItems);
		  
	}
	

</script>
</head>
<body class="bodyBg">
<!-- header start -->
<div class="header navbar-fixed-top">
<div class="container-fluid">
<div class="col-xs-5 logo">
<a href="index.html"><img src="images/logo.png" alt="Mahindra Rise"></a>
</div>
<div class="col-xs-7 text-right LoginTxt">
<a href="login.html">Logout <span class="glyphicon glyphicon-off"></span></a>
<h5>Welcome <span id='userNm'></span></h5>
</div>
</div>
</div>
<!-- header end -->

<!-- container start -->
<div class="container">
<div class="col-md-6 col-md-offset-3">
<div class="bckbtn"><button class="btn-green" id="navigatePage"><span class="glyphicon glyphicon-arrow-left"></span> Back</button></div>
<div class="mainCont">
<h2><span><img src="images/smcreateorderico.png">View Order</span></h2>
<div class="pendingUpdate respTable">
<table class="table table-bordered">
						<thead>
							<tr>
								<th>Material</th>
								<th>Quantity</th>
								<th>Due Date</th>
<!-- 								<th>Unit</th> -->
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
<!-- 						<tr> -->
<!-- 						<td></td> -->
<!-- 						<td><input type="text" class="form-control"></td> -->
<!-- 						<td><input type="text" class="form-control datepicker"></td> -->
<!-- 						<td></td> -->
<!-- 						<td><button type="button"><span class="glyphicon glyphicon-remove"></span></button> <button type="button"><span class="glyphicon glyphicon-saved"></span></button></td> -->
						
<!-- 						</tr> -->
						</tbody>
					</table>
<div class="text-right"><button type="button" class="btn-save" onClick="updateDeleteRecord()"><span class="glyphicon glyphicon-saved"></span> Save </button></div>
</div>
</div>
</div>
</div>
<!-- container end -->

	<!-- alert modal start -->
<!-- <div class="modal fade alertModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Order Status</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-success">Warning
						message...............</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div> -->
<!-- alert modal end -->

</body>
</html>