<html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<head>
 <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Mahindra Rise</title>
<!-- Bootstrap js start -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<!-- Bootstrap js end -->
<!-- Bootstrap css start -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!-- <link href="css/loader.css" rel="stylesheet"> -->
<!-- Bootstrap css end -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript">
$(document).ready(function(){
	$("#login").click(function(){
		$(".loader").show();
		makeCorsRequest();
	});
});
function createCORSRequest(method, url) {
	  var xhr = new XMLHttpRequest();
	  if ("withCredentials" in xhr) {
	    // XHR for Chrome/Firefox/Opera/Safari.
	    xhr.open(method, url, true);
	  } else if (typeof XDomainRequest != "undefined") {
	    // XDomainRequest for IE.
	    xhr = new XDomainRequest();
	    xhr.open(method, url);
	  } else {
	    // CORS not supported.
	    xhr = null;
	  }
	  return xhr;
	}

	// Helper method to parse the title tag from the response.
	function getTitle(text) {
	  return text.match('<title>(.*)?</title>')[1];
	}

	function makeCorsRequest() {

		
		// All HTML5 Rocks properties support CORS.
	//  var url = 'http://mahindraremembersservices.cloudapp.net/MahindraRemembersServices.svc/GalleryImages';
		
// 	    var url = 'http://mahindraremembersservices.cloudapp.net/MahindraRemembersServices.svc/ValidateUser?user=HR240450&pass=mahindra';


       var userId = $("#userId").val();
       var userPass = $("#userPass").val();
       var url = 'http://mapps.mahindra.com:8580/dairy/DataController?userOpr=AUTH&userId='+userId+'&userPass='+userPass;
       
	  var xhr = createCORSRequest('POST', url);
	  if (!xhr) {
	    alert('CORS not supported');
	    return;
	  }

	  // Response handlers.
	  xhr.onload = function() {
		  debugger;
	    var text = jQuery.parseJSON(xhr.responseText);
	    console.log(text);
//	    var title = getTitle(text);
//	    console.log('Response from CORS request to ' + url + ': ' + text);
	    debugger;
	    if(text.baseStatus=="AUTH_SUCCESS"){
	    	debugger;
	        $(".loader").hide();
// 	    	$(".loginForm .alert").show();
// 	    	$(".loginForm .alert").addClass("alert-success").removeClass("alert-danger");
// 	    	$(".loginForm .alert").text("Login Success!!")
	    	window.localStorage.setItem("userId",userId);
	    	window.localStorage.setItem("userName",text.UserFName+" "+text.UserLName);
	    	window.location.href = "index.html";
	    }else{
// 	    	alert("error");
            $(".loader").hide();
	    	$(".loginForm .alert").show();
	    	$(".loginForm .alert").addClass("alert-danger").removeClass("alert-success");
	    	$(".loginForm .alert").text("Login details are invalid")	    	
	    }
	    
	  };

	  xhr.onerror = function() {
	    alert('There was an error making the request.');
	  };

	  xhr.send();
	}
	
</script>
    
</head>

<body class="bodyBg">
<!-- header start -->
<div class="loader"><img src="images/loader.gif"></div>
<div class="header navbar-fixed-top">
<div class="container-fluid">
<div class="col-xs-5 logo">
<a href="index.html"><img src="images/logo.png" alt="Mahindra Rise"></a>
</div>
</div>
</div>
<!-- header end -->

	<div class="container">
	<div class="col-md-6 col-md-offset-3 loginPage">
			<div class="loginForm">
			<!-- <div class="triangle"></div> -->
		<!-- 		<h1>
					Mahindra Rise
				</h1>
 -->				<div class="form">
			<!-- alert start -->
			<div class="alert"></div>
			<!-- alert end -->
			
					<div class="form-group">
					<input type="text" id="userId"  name="userId" class="form-control" placeholder="Customer ID" >
					<!-- value="FDM1001"  value="123" -->
					</div>
					<div class="form-group">
					<input type="password" id="userPass"  name="userPass" class="form-control" placeholder="Password" >
					</div>
					<div class="row">
						<div class=" col-sm-12">
							<button type="submit" id="login">
								Login
							</button>
						</div>
					</div>
</div>
			</div>
		</div>
	</div>
	<!-- container end -->
</body>
</html>