<!DOCTYPE html>
<html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<head>
 <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Mahindra Rise</title>
<!-- Bootstrap js start -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery-ui.js"></script>
<!-- Bootstrap js end -->
<!-- Bootstrap css start -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/jquery-ui.css" rel="stylesheet">
<!-- <script src="js/datajs-1.1.2.min.js"></script> -->

<script src="js/OData.js"></script>
<!-- Bootstrap css end -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
<script type="text/javascript">
var headerId = "";
var responseData;
$(document).ready(function(){
// 	$(".datepicker").datepicker();
    setUserName();
	headerId =  GetURLParameter('HeaderId');
// 	alert(headerId);
	makeCorsRequest();
// 	$(".updateRecords").click(function(){
// 		alert("Hi");
// 		updateRecord(this);
// 	});
});
function GetURLParameter(sParam){
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
}
//Request for the getting the Data ...​
function createCORSRequest(method, url) {
	  var xhr = new XMLHttpRequest();
	  if ("withCredentials" in xhr) {
	    // XHR for Chrome/Firefox/Opera/Safari.
	    xhr.open(method, url, true);
	  } else if (typeof XDomainRequest != "undefined") {
	    // XDomainRequest for IE.
	    xhr = new XDomainRequest();
	    xhr.open(method, url);
	  } else {
	    // CORS not supported.
	    xhr = null;
	  }
	  return xhr;
	}

	function makeCorsRequest() {
     responseData = new Array();
     var kunnr = window.localStorage.getItem("userId");
     var url = 'http://appstore.mahindra.com:8580/dairy/DataController?userOpr=GET&userId='+kunnr;
	  var xhr = createCORSRequest('GET', url);
	  if (!xhr) {
	    alert('CORS not supported');
	    return;
	  }
	  xhr.onload = function() {
	    var text = jQuery.parseJSON(xhr.responseText);
	    responseData = text;
	    pendingData(headerId);
	  };
	  xhr.onerror = function() {
	    alert('Woops, there was an error making the request.');
	  };
	  xhr.send();
	}
	
	function pendingData(headerId){
		$(".pendingUpdate table tbody").html('');
		for(var i=0;i<responseData.length;i++){
			if(responseData[i].HeaderId==headerId){
				  $("#productlistCode").val(responseData[i].Spart);
				  $(".pendingUpdate table tbody").append("<tr>");
				  $(".pendingUpdate table tbody").append("<td data-title='Material'>"+responseData[i].Maktx+"</td>");
				  $(".pendingUpdate table tbody").append("<td data-title='Quantity'><input type='text' id='quantity"+responseData[i].itemNumber+"' class='new_Value form-control' value="+responseData[i].Zmeng+"></td>");
				  var fdate = responseData[i].edatu;
				  $(".pendingUpdate table tbody").append("<td data-title='Due Date'><input disabled='true' type='text' id='dueDate"+responseData[i].itemNumber+"' class='form-control datepicker dateReq' value='"+fdate+"'></td>");
// 				  $(".pendingUpdate table tbody").append("<td data-title='Unit'>"+responseData[i].Zieme+"</td>");
// 				  $(".pendingUpdate table tbody").append('<td data-title="Acttion"><button type="button" class="btn-save" onClick="updateRecord(this)" data-headerid='+responseData[i].HeaderId+' data-itemNumber='+responseData[i].itemNumber+'><span class="glyphicon glyphicon-saved"></span></button> <button type="button" class="btn-del" onClick="deleteRecord(this)" data-headerid='+responseData[i].HeaderId+' data-itemNumber='+responseData[i].itemNumber+'><span class="glyphicon glyphicon-remove"></span></button></td>');
				  $(".pendingUpdate table tbody").append('<td data-title="Action"><button type="button" class="btn-del" onClick="deleteRecord(this)" data-headerid='+responseData[i].HeaderId+' data-itemNumber='+responseData[i].itemNumber+'><span class="glyphicon glyphicon-remove"></span></button></td>');
// 				  $(".pendingUpdate table tbody").append("</tr>");
			}
			
			$(".datepicker").datepicker();
		}
	}
	
	function updateRecord(datas){
		updateDeleteRecord(datas,"UPDATE");
	}
	function formateDate(dates){
		   var date = new Date(dates);
			var month = date.getMonth()+1;
			
			month = (month.toString().length<2)?"0"+month.toString():month.toString();
			
			var day = date.getDate();
			
			day = (day.toString().length<2)?"0"+day.toString():day.toString();
			
			
			return day+"/"+month+"/"+date.getFullYear();
		
	}
	
	function deleteRecord(datas){
// // 		deleteRecord(datas,"DELETE");

		var salesItems=new Array();
		var qunatity = $(".new_Value").val();
		var itemNumber =  datas.dataset.itemnumber;
		var headerId = datas.dataset.headerid;
		var finalAmount = 0;
		for(var i=0;i<responseData.length;i++){
			if(responseData[i].HeaderId==headerId){
				    if(responseData[i].itemNumber == itemNumber){
      				   var oData= {
				           "itemNumber":responseData[i].itemNumber
			          };
      				salesItems.push(oData);
				  }
  				
			}
		}
		
		var finalData =new Array();
		finalData={
		    "headerId":parseInt(headerId),
	        "items":salesItems
	  };		
		
		var finalData = JSON.stringify(finalData);
		 $.ajax({
		 type:"POST",
	     url :"http://appstore.mahindra.com:8580/dairy/DataController",
// 	     contentType:"text/xml",
// 	     dataType:"xml",
	     data:{
	    	 userOpr:'DELETE',
	     	 jdata:finalData
	     },
	     success:function(data,req,res){
	    	 $('.alertModal').modal('show');
	    	 $('.alertModal .alert').removeClass('alert-danger').addClass('alert-success');
	    	 $('.alertModal .alert').html('Order updated successfully. <br/> Order created according to as per prices Today!! ');
	    	 makeCorsRequest();
	     },
	     error:function(oError){
	    	 alert(oError);
	    	 $('.alertModal').modal('show');
	    	 $('.alertModal .alert').removeClass('alert-success').addClass('alert-danger');
	    	 $('.alertModal .alert').text(oError);
	     }
	     });
		
		 
	}
	
	function changeDate(erdat){
		   
        var date = new Date(erdat);
  

		var month = date.getMonth()+1;
		
		month = (month.toString().length<2)?"0"+month.toString():month.toString();
		
		var day = date.getDate();
		
		day = (day.toString().length<2)?"0"+day.toString():day.toString();
		
		
		return date.getFullYear()+"-"+month+"-"+day; //"2015-11-05"
		
}

	function updateDeleteRecord(){
		var salesItems=new Array();
// 		var itemNumber =  datas.dataset.itemnumber;
// 		alert(qunatity+"??>"+edatu);
// 		var headerId = datas.dataset.headerid;
		var finalAmount = 0;
		var amountItem =0;
		for(var i=0;i<responseData.length;i++){
			if(responseData[i].HeaderId==headerId){
				responseData[i].Zmeng=qunatity;
				var itemNumber = responseData[i].itemNumber;
				var qunatity = $("#quantity"+itemNumber).val();
				var edatu = $("#dueDate"+itemNumber).val();
				
// 				    if(responseData[i].itemNumber == itemNumber){
				      amountItem = qunatity*responseData[i].Netpr;
      				   var oData= {
				           "posnr": responseData[i].Posnr,
				           "matnr": responseData[i].Matnr,
				           "maktx": responseData[i].Maktx,
				           "werks": "",
				           "lgort": "",
				           "zmeng": qunatity,
				           "ameng": "",
				           "zieme":responseData[i].Zieme,
				           "netpr":responseData[i].Netpr,
				           "netwrItem": amountItem,
				           "itemNumber":responseData[i].itemNumber,
				           "edatu": edatu,
			          };
      				 salesItems.push(oData);
      				 finalAmount+=amountItem;
// 				  }
  				
			}
		}
		var finalData =new Array();
		var kunnr = window.localStorage.getItem("userId");
// 		finalAmount += amountItem;
		finalData.push({
		    "kunnr": kunnr,
	        "vkorg": "",
	        "vtweg": "",
	        "spart": $("#productlistCode").val(),
	        "vkgrp": "",
	        "vkbur": "",
	        "netwrHeader":finalAmount,
	        "creditLimit": "",
	        "flag": " ",
	        "status": " ",	
	        "headerId":parseInt(headerId),
	        "items":salesItems
	  });		
		
		var finalData = JSON.stringify(finalData);
		 $.ajax({
		 type:"POST",
	     url :"http://appstore.mahindra.com:8580/dairy/DataController",
// 	     contentType:"text/xml",
// 	     dataType:"xml",
	     data:{
	    	 userOpr:'UPDATE',
	     	 jdata:finalData
	     },
	     success:function(data,req,res){
	    	 $('.alertModal').modal('show');
	    	 $('.alertModal .alert').removeClass('alert-danger').addClass('alert-success');
	    	 $('.alertModal .alert').text('Order updated successfully.');
	    	 makeCorsRequest();
	     },
	     error:function(oError){
	    	 alert(oError);
	    	 $('.alertModal').modal('show');
	    	 $('.alertModal .alert').removeClass('alert-success').addClass('alert-danger');
	    	 $('.alertModal .alert').text(oError);
	     }
	     });
		
	}
	

</script>
</head>
<body class="bodyBg">
<!-- header start -->
<div class="header navbar-fixed-top">
<div class="container-fluid">
<div class="col-xs-5 logo">
<a href="index.html"><img src="images/logo.png" alt="Mahindra Rise"></a>
</div>
<div class="col-xs-7 text-right LoginTxt">
<a href="login.html">Logout <span class="glyphicon glyphicon-off"></span></a>
<h5>Welcome <span id='userNm'></span></h5>
</div>
</div>
</div>
<!-- header end -->

<!-- container start -->
<div class="container">
<div class="col-md-6 col-md-offset-3">
<div class="bckbtn"><button class="btn-green"><span class="glyphicon glyphicon-arrow-left"></span> Back</button></div>
<div class="mainCont">
<h2><span><img src="images/smpendingorderico.png">Update Order</span></h2>
<div class="pendingUpdate respTable">
<input type="hidden" id="productlistCode"/>
<table class="table table-bordered">
						<thead>
							<tr>
								<th>Material</th>
								<th>Quantity</th>
								<th>Due Date</th>
<!-- 								<th>Unit</th> -->
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
<!-- 						<tr> -->
<!-- 						<td></td> -->
<!-- 						<td><input type="text" class="form-control"></td> -->
<!-- 						<td><input type="text" class="form-control datepicker"></td> -->
<!-- 						<td></td> -->
<!-- 						<td><button type="button"><span class="glyphicon glyphicon-remove"></span></button> <button type="button"><span class="glyphicon glyphicon-saved"></span></button></td> -->
						
<!-- 						</tr> -->
						</tbody>
					</table>
<div class="text-right"><button type="button" class="btn-save" onClick="updateDeleteRecord()"><span class="glyphicon glyphicon-saved"></span> Update</button></div>
</div>
</div>
</div>
</div>
<!-- container end -->

	<!-- alert modal start -->
<div class="modal fade alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Order</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success">
        Warning message...............
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- alert modal end -->

</body>
</html>