<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/jquery.dataTables.min.css">
</head>
<body> 
 
<section class="header-sec">
    <div class="header">
       <div class="logo-left-sec">
         <div class="logo-left">
            <a href="" class="logo-img"><img src="images/mahindra_3.png"></a>
         </div>
           
        </div>
        <div class="sec-right">
            <div class="burger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="">
                <li><i class="fa fa-user-circle-o user-circle-icon"></i><i class="fa fa-angle-down dropdown-xs"></i><span class="admin-name-text-desktop">Admin</span></li>
                <li class="xs-hidden"><span class="logout-sec"><i class="glyphicon glyphicon-off"></i><span class="logout-text">Logout</span></span></li>
            </ul>
            <ul class="dropdown-menu-xs">
                <li  class="">
                    <i class="fa fa-user-o"></i>
                    <span class="admin-name-text-xs">Admin name</span>
                </li>
                <li  class="">
                    <span class="logoutsec"><i class="glyphicon glyphicon-off"></i><span class="logouttext">Logout</span></span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
         
    </div> 
</section>
<section class="main-container">
    <div class="left-menu-panel">
        <div class="overlay-menu"></div>
        <ul class="left-menu-panel-ul">
            <li><a href="dashboard.html" class="menu-items-a"><i class="glyphicon glyphicon-dashboard"></i>Dashboard</a></li>
            <!--<li><a href="approveorders.html" class="menu-items-a"><i class="fa fa-check-square-o"></i>Approve Orders</a></li>-->
           
        </ul>
    
    </div>
    <div class="left-content-panel">
    <div class="wrapper-orders"><div class="card-text">Report</div></div>
    <div class="container-fluid">
        <div class="common-inner-padding">
            <div class="table-wrapper">
                <div class="col-sm-12">
                <div class="">
                    <div class="table-responsive table-responsive-code">
                                <table id="report-table" class="display table-style last-td-withoutstatus" style="width: 100%">
                                    <thead>
                                        <tr>
                                          
                                            <th rowspan="2" class="text-center">Sr No</th>
                                            <th class="text-center" colspan="2">Dealer</th>
                                            <th class="text-center" colspan="2">TM</th>
                                            <th class="text-center" colspan="2">RM</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Contact</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Contact</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Contact</th>
                                        </tr>
                                   </thead>
                                    <tbody>
                                      <tr>
                                         <td class="text-center">1</td>
                                         <td class="text-center" data-title="Dealer Name:">Shree Traders</td>
                                         <td class="text-center" data-title="Contact:">7689435677</td>
                                         <td class="text-center" data-title="TM Name:">Shree Traders</td>
                                         <td class="text-center" data-title="Contact:">7689435677</td>
                                        <td class="text-center"  data-title="RM Name:">Shree Traders</td>
                                         <td class="text-center" data-title="Contact:">7689435677</td>
                                         
                                         
                                     </tr>
                                    
                                </tbody>
                               </table>
                            </div>
                </div>
            </div>
            </div>
            
        </div>
    </div>
    </div>
</section>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
